@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f5f5f5;
  color: #252525;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.85rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #343434;
          box-shadow: inset 0 0 5px #343434;
}

::-webkit-scrollbar-thumb {
  background: #eb7e02;
  border-radius: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: #f5f5f5;
  z-index: 10;
  opacity: 0.9;
  padding: 1.3rem;
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-links {
    width: 100%;
    margin: 1rem 0 0;
    border-top: 2px solid #f5f5f5;
    display: none;
  }
}

.navbar .navbarLinks-active {
  display: block;
}

.navbar .navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .navbar .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
}

.navbar .navbar-links li {
  padding: 8px;
  font-weight: 500;
}

.navbar .nav-links li a {
  color: #f5f5f5;
}

.navbar .nav-links li a:hover {
  color: #ddd8d8;
}

.navbar .toggle-icon {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  display: none;
}

@media (max-width: 768px) {
  .navbar .toggle-icon {
    display: block;
  }
}

.navbar .toggle-icon .bar {
  width: 25px;
  height: 4px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 4px;
}

.showcase {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/showcase-img.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/showcase-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase .showcase-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
  color: #f5f5f5;
}

.showcase .showcase-container h1 {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 13px;
  text-align: center;
}

@media (max-width: 576px) {
  .showcase .showcase-container h1 {
    font-size: 1.6rem;
  }
}

.showcase .showcase-container .btn {
  background-color: #ff8700;
  color: #f5f5f5;
  font-size: large;
  font-weight: 500;
  padding: 14px 1.2rem;
  margin: 1rem auto;
  border: none;
  border-radius: 4px;
  opacity: 0.9;
  cursor: pointer;
}

.showcase .showcase-container .btn:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.about-us {
  padding: 2rem 0;
  background-color: #ddd8d8;
}

.about-us .about-container {
  max-width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

.about-us .about-container .about-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  padding: 30px;
  margin: 0 auto;
}

.about-us .about-container .about-content h2 {
  text-transform: capitalize;
}

.about-us .about-container .about-content p {
  color: #555;
  font-weight: 600;
  line-height: 2;
}

.about-us .about-container .about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  padding: 30px;
  -webkit-animation: backInRight;
          animation: backInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.about-us .about-container .about-image img {
  display: block;
  height: 200px;
}

.food {
  padding: 2rem 0 3rem;
}

.food h2 {
  text-align: center;
  font-weight: 600;
  padding: 10px 0 20px;
}

.food .food-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .food .food-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.food .food-container .food-type {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 1rem auto;
}

.food .food-container .food-type .img-content {
  text-align: center;
  background-color: #252525;
  color: #f5f5f5;
  cursor: pointer;
  margin-top: -8px;
  -webkit-animation: slideInUp;
          animation: slideInUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.food .food-container .food-type .img-content h4 {
  padding: 12px 0;
}

.food .food-container .food-type .img-content .btn {
  padding: 10px 13px;
  margin: 0 auto 1rem;
  background-color: #ff8700;
  color: #f5f5f5;
  border: none;
  border-radius: 3px;
  opacity: 0.9;
  cursor: pointer;
}

.food .food-container .food-type .img-content .btn:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.food-menu {
  padding: 2rem 0 4rem;
  background-color: #ddd8d8;
}

.food-menu h2 {
  text-align: center;
  font-weight: 600;
  padding: 10px 0 30px;
}

.food-menu .menu {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.food-menu .menu .menu-content p {
  color: #ff8700;
  font-weight: 500;
}

.food-menu .menu .menu-content p:last-child {
  color: #555;
}

.food-menu .menu .menu-content:hover {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.testimonial {
  padding: 2rem 0;
}

.testimonial h2 {
  text-align: center;
  font-weight: 600;
  padding: 10px 0 20px;
}

.testimonial .testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .testimonial .testimonial-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.testimonial .testimonial-container .testimonial-content {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  margin: 10px auto;
}

.testimonial .testimonial-container .testimonial-content p {
  color: #333;
  font-size: smaller;
  padding: 10px 25px;
}

.testimonial .testimonial-container .testimonial-content p i {
  color: #ff8700;
}

.testimonial .testimonial-container .testimonial-content .name {
  text-align: center;
  font-weight: 600;
}

.testimonial .testimonial-container .testimonial-content .stars {
  color: #333;
  text-align: center;
}

.testimonial .testimonial-container .testimonial-content .image img {
  width: 120px;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}

.contact {
  padding: 3rem 0;
  background-color: #ddd8d8;
}

.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .contact .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .contact-container div {
  width: 25rem;
  height: 16rem;
}

.contact .contact-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .contact .contact-container .form-container {
    margin-top: 3rem;
  }
}

.contact .contact-container .form-container input,
.contact .contact-container .form-container textarea {
  padding: 5px 0;
  margin: 0.4rem 1.3rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #252525;
}

.contact .contact-container .form-container input:focus,
.contact .contact-container .form-container textarea:focus {
  outline: none;
}

.contact .contact-container .form-container button {
  display: block;
  margin: 0.6rem auto 0;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #f5f5f5;
  font-weight: bold;
  cursor: pointer;
}

.contact .contact-container .form-container button:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.footer {
  background-image: url(../images/footer-bg.jpg);
  background-position: center;
  background-size: cover;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f5f5;
  padding: 1rem;
}

@media (max-width: 576px) {
  .footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer-container p {
  font-size: small;
}

.footer .footer-container p a {
  color: #f5f5f5;
}

.footer .footer-container p a:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.footer .footer-container .social p i {
  padding: 6px;
  font-size: medium;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #333;
  margin-right: 5px;
}

.footer .footer-container .social p i:hover {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (max-width: 576px) {
  .footer .footer-container .social {
    margin: 10px auto;
  }
}
