@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

$primary-color: #ff8700;
$light-color: #f5f5f5;
$dark-color: #151515;
$lightGrey-color: #ddd8d8;
$grey-color: #333;
$cyan-color: rgb(5, 185, 185);
$font-stack: "Raleway", sans-serif;
$font-white: #fff;
$font-black: #181818;
$font-grey: #555;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  background-color: $light-color;
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
}

// ===== navbar =====
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  color: $light-color;
  padding: 1.3rem;

  @media (max-width: $medium-screen) {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    @media (max-width: $medium-screen) {
      width: 100%;
      margin: 1rem 0 0;
      border-top: 2px solid $light-color;
      display: none;
    }
  }

  .navbarLinks-active {
    display: block;
  }

  .navbar-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $medium-screen) {
      flex-direction: column;
      margin-top: 1rem;
    }
  }

  .navbar-links li {
    padding: 8px;
    font-weight: 500;
  }

  .navbar-links li a {
    color: $light-color;

    &:hover {
      color: $grey-color;
    }
  }

  .toggle-icon {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;

    @media (max-width: $medium-screen) {
      display: block;
    }
  }

  .toggle-icon .bar {
    width: 25px;
    height: 4px;
    background-color: $light-color;
    border-radius: 10px;
    margin: 4px;
  }
}

// ===== showcase =====
.showcase {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/showcase-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .showcase-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    color: $font-white;

    h1 {
      font-size: 2.2rem;
      font-weight: 600;
      padding: 13px;

      @media (max-width: $small-screen) {
        font-size: 1.6rem;
      }
    }

    .btn {
      background-color: $primary-color;
      color: $font-white;
      font-size: large;
      font-weight: 500;
      padding: 14px 1.2rem;
      margin: 1rem auto;
      border: none;
      border-radius: 4px;
      opacity: 0.9;
      cursor: pointer;
    }
    .btn:hover {
      animation: flash;
      animation-duration: 1s;
    }
  }
}
