@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

$font-stack: "Raleway", sans-serif;
$primary-color: #ff8700;
$light-color: #f5f5f5;
$dark-color: #151515;
$lightGrey-color: #ddd8d8;
$grey-color: #333;
$font-white: #fff;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $light-color;
  color: $dark-color;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.85rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(52, 52, 52);
}

::-webkit-scrollbar-thumb {
  background: #eb7e02;
  border-radius: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
}

@mixin flash {
  animation: flash;
  animation-duration: 1s;
}

@mixin pulse {
  animation: pulse;
  animation-duration: 2s;
}

@mixin grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

// ===== navbar =====
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: $light-color;
  z-index: 10;
  opacity: 0.9;
  padding: 1.3rem 5rem;

  @media (max-width: $medium-screen) {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.3rem;
  }

  .logo {
    color: $primary-color;
    font-family: Cambria, serif;
    font-size: 1.8rem;
  }

  .navbar-links {
    @media (max-width: $medium-screen) {
      width: 100%;
      margin: 1rem 0 0;
      border-top: 2px solid $light-color;
      display: none;
    }
  }

  .navbarLinks-active {
    display: block;
  }

  .navbar-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $medium-screen) {
      flex-direction: column;
      margin-top: 1rem;
    }
  }

  .navbar-links li {
    font-size: 1.1rem;
    padding: 10px;
    font-weight: 500;

    @media (max-width: $medium-screen) {
      padding: 15px;
    }
  }

  .nav-links li a {
    color: $light-color;

    &:hover {
      color: $lightGrey-color;
      text-decoration: underline;
      opacity: 0.8;
    }
  }

  .toggle-icon {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;

    @media (max-width: $medium-screen) {
      display: block;
    }
  }

  .toggle-icon .bar {
    width: 25px;
    height: 4px;
    background-color: $light-color;
    border-radius: 10px;
    margin: 4px;
  }
}

// ===== showcase =====
.showcase {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/showcase-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .showcase-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    color: $font-white;

    h1 {
      font-size: 2.2rem;
      font-weight: 600;
      padding: 13px;
      text-align: center;

      @media (max-width: $small-screen) {
        font-size: 1.6rem;
      }
    }

    .btn {
      background-color: $primary-color;
      color: $font-white;
      font-size: large;
      font-weight: 500;
      padding: 14px 1.2rem;
      margin: 1rem auto;
      border: none;
      border-radius: 4px;
      opacity: 0.9;
      cursor: pointer;
    }
    .btn:hover {
      @include flash();
    }
  }
}

// ===== about =====
.about-us {
  padding: 2rem 0;
  background-color: $lightGrey-color;

  .about-container {
    max-width: 990px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;

    .about-content {
      flex: 1 1 400px;
      padding: 30px;
      margin: 0 auto;

      h2 {
        text-transform: capitalize;
      }

      p {
        color: $grey-color;
        font-weight: 600;
        line-height: 2;
      }
    }

    .about-image {
      flex: 1 1 400px;
      padding: 30px;
      animation: backInRight;
      animation-duration: 2s;

      img {
        display: block;
        height: 200px;
      }
    }
  }
}

// ===== food category =====
.food {
  padding: 2rem 0 3rem;
  h1 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    padding: 10px 0 20px;
  }

  .food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $medium-screen) {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .food-type {
      flex-basis: 30%;
      margin: 1rem auto;

      .img-content {
        text-align: center;
        background-color: $dark-color;
        color: $font-white;
        cursor: pointer;
        margin-top: -8px;
        animation: slideInUp;
        animation-duration: 2s;

        h4 {
          padding: 12px 0;
        }

        .btn {
          padding: 10px 13px;
          margin: 0 auto 1rem;
          background-color: $primary-color;
          color: $font-white;
          border: none;
          border-radius: 3px;
          opacity: 0.9;
          letter-spacing: 1px;
          font-weight: 600;

          cursor: pointer;

          &:hover {
            transform: scale(1.05);
            transition: 0.5s ease-in;
          }
        }
      }
    }
  }
}

// ===== testimonial =====
.testimonial {
  h1 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    padding: 10px 0 20px;
  }

  .testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $medium-screen) {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .testimonial-content {
      flex-basis: 32%;
      margin: 10px auto;

      p {
        color: $grey-color;
        padding: 10px 25px;

        i {
          color: $primary-color;
        }
      }
      .name {
        text-align: center;
        font-weight: 600;
      }
      .stars {
        color: $primary-color;
        font-size: 1.2rem;
        text-align: center;
      }
      .image img {
        width: 120px;
        display: block;
        margin: 10px auto;
        border-radius: 50%;
      }
    }
  }
}

// ===== contact =====
.contact {
  padding: 3.5rem 5rem;
  background-color: $lightGrey-color;

  h1 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    padding: 0 0 3rem;
  }

  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    @media (max-width: $large-screen) {
      flex-direction: column;
    }

    div {
      width: 25rem;
      height: 16rem;
    }

    .form-container {
      display: flex;
      flex-direction: column;

      @media (max-width: $small-screen) {
        margin-top: 2rem;
      }

      input,
      textarea {
        padding: 5px 0;
        margin: 10px 0;
        background: transparent;
        border: none;
        border-bottom: 1px solid $dark-color;

        &:focus {
          outline: none;
        }

        @media (max-width: $small-screen) {
          padding-left: 40px;
        }
      }
      button {
        display: block;
        margin: 0.6rem auto 0;
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: 4px;
        background-color: $grey-color;
        color: $font-white;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          transition: 0.5s ease-in;
        }
      }
    }
  }
}

// ===== footer =====
.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/footer-bg.jpg");
  background-position: center;
  background-size: cover;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $font-white;
    padding: 1.5rem 1rem;

    @media (max-width: $small-screen) {
      flex-direction: column;
    }

    p {
      color: $lightGrey-color;
    }

    .social p i {
      padding: 0.5rem;
      font-size: medium;
      border: 1px solid $light-color;
      border-radius: 50%;
      background-color: $light-color;
      color: $grey-color;
      margin-right: 5px;

      &:hover {
        @include flash();
      }
    }

    .social p .arrow-up {
      color: $font-white;
      background-color: $primary-color;
      font-weight: 600;
    }

    .social {
      @media (max-width: $small-screen) {
        margin: 10px auto;
      }
    }
  }
}
